body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f4f4f4f4;
  }
  
  .contenedor {
    margin-top: 50px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    display: inline-block;
    width: 300px;
    border-radius: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    background: #dcdcdcdc;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  li.completada {
    text-decoration: line-through;
    background: #a0d468;
  }
  
  button {
    padding: 5px 10px;
    background: #ff5c5c;
    border: none;
    color: white;
    cursor: pointer;
  }
  .completado {
    text-decoration: line-through;
    color: rgb(6, 218, 45);
}
